* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  body {
    font-size: 80%;
  }

  .navbar .hp,
  .home .hp,
  .about .hp,
  .services .hp,
  .skills .hp,
  .contact .hp {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    text-align: justify;
    align-items: center;
  }
}

@media screen and (max-width:1000px) {
  body {
    font-size: 70%;
  }

  .navbar .hp,
  .home .hp,
  .about .hp,
  .services .hp,
  .skills .hp,
  .contact .hp {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    text-align: justify;
    align-items: center;
  }
}

@media screen and (max-width:800px) {
  body {
    font-size: 60%;
  }

  .navbar .hp,
  .home .hp,
  .about .hp,
  .services .hp,
  .skills .hp,
  .contact .hp {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    text-align: justify;
    align-items: center;
  }
  .contact .contact-content .left .info .subt{
    font-size: 60%;
  }
}

@media screen and (max-width:600px) {
  body {
    font-size: 45%;
  }

  .navbar .hp,
  .home .hp,
  .about .hp,
  .services .hp,
  .skills .hp,
  .contact .hp {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
    text-align: justify;
    align-items: center;
  }

  .services .servecontent .card {
    height: 50%;
    width: 50%;
  }


}

html {
  scroll-behavior: smooth;
}

/* giving same styles to same classes */
section {
  padding: 100px 0;
}

.hp {
  max-width: 130vw;
  padding: 0 10vw;
  margin: auto;
}

.about,
.services {
  font-family: sans-serif;
}

.about .aboutcontent,
.services .servecontent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .hp {}

section .title {
  position: relative;
  text-align: center;
  font-size: 250%;
  font-family: sans-serif;
  margin-bottom: 10%;
  padding-bottom: 1.5%;
  font-weight: 500;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10vw;
  height: 1%;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -1vw;
  left: 50%;
  font-size: 50%;
  color: white;
  padding: 0 6%;
  border-radius: 20px;
  background-color: rgb(50, 150, 220);
  transform: translateX(-50%);
}

/*nav bar styling starts here */
.navbar {
  position: absolute;
  width: 100vw;
  z-index: 999;
  padding: 3% 0;
  font-family: sans-serif;
  transition: all 0.8s ease;
}

.navbar .hp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a:hover {
  color: darkgreen;
}

.navbar .logo a span {
  color: darkblue;
}

.navbar .logo a {
  color: darkcyan;
  font-size: 180%;
  font-weight: 550;
  animation: mylogo 5s linear infinite;
}

@keyframes mylogo {
  100% {
    transform: rotateY(360deg);
  }
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: darkcyan;
  font-size: 113%;
  font-weight: 450;
  margin-left: 2.5vw;
}

.navbar .menu li a:hover {
  color: darkblue;
}


/*Customized scrollbar begins from here*/
::-webkit-scrollbar {
  width: 1.5vw;
}

::-webkit-scrollbar-track {
  background: rgb(0, 184, 150);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: darkblue;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 150, 230);
}



/* home section  styling begins here*/
.home {
  display: flex;
  background: linear-gradient(185deg, rgb(50, 240, 255), rgb(0, 245, 190));
  height: 100vh;
  color: rgb(0, 184, 150);
  min-height: 30vh;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

.home .hp {
  display: flex;
  width: 100vw;
}

.home .hp .text1 {
  font-size: 140%;
  font-weight: 500;
}

.home .hp .text2 {
  font-size: 420%;
  font-weight: 500;
  margin-left: -5%;
}

.home .hp .text3 {
  font-size: 240%;
  margin: 0.5% 0 0.5% 3%;
  padding-left: 5%;
}

.home .hp .text3 span {
  color: darkcyan;
  font-size: 120%;
}

.home .hc a {
  display: inline-block;
  background: rgb(0, 184, 150);
  color: whitesmoke;
  font-size: 130%;
  padding: 3% 6%;
  margin-top: 6%;
  font-weight: 400;
  border: 3px solid rgb(0, 184, 150);
  border-radius: 5px;
}

/*about section styling begins here*/
.about .title::after {
  content: "Who I am ";
}



.about .aboutcontent .left img {
  height: 28vw;
  width: 28vw;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid rgb(0, 150, 235);
  animation: myimg 3.5s linear infinite
}

@keyframes myimg {

  100% {
    transform: rotateY(360deg);
  }

}

.about .aboutcontent .right {
  width: 55%;
}

.about .aboutcontent .right .text {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 2%;
}

.about .right .para::first-letter {
  color: darkblue;
}

.about .aboutcontent .right .text span {
  color: rgb(0, 150, 240);
}

.about .aboutcontent .right .para {
  text-align: justify;
  font-size: 109%;
  font-weight: 500;
}

.about .aboutcontent .right .cv {
  width: 15vw;
  background: rgb(0, 150, 210);
  color: white;
  padding: 1% 4%;
  margin-top: 5%;
  font-size: 120%;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid rgb(50, 200, 230);
}

.about .aboutcontent .right .cv a {
  color: white;
}

.about .aboutcontent .right .cv a:hover {
  color: rgb(50, 200, 230);
  background: none;
}

/*Services section starts here*/

.services {
  background: #222;
}

.services .title::before {
  background-color: white;
}

.services .title {
  color: #fff;
}

.services .title::after {
  background-color: rgb(50, 150, 220);
  border-radius: 20px;
  color: white;
  content: "what i provide";
}

.services .servecontent .card {
  color: white;
  background: #111;
  text-align: center;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgb(50, 140, 220);
  padding: 4% 2%;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 25vw;
  height: 40vh;
  overflow: hidden;
  animation: mycard 10s linear infinite;
}

@keyframes mycard {
  100% {
    transform: skewY(90deg,40deg);
  }
}

.services .servecontent .card:hover {
  background: rgb(50,120,210);
}

.services .servecontent .card .box {
  transition: all 0.5s ease;
}

.services .servecontent .card:hover .box {
  transform: scale(1.06);
}

.services .servecontent .card i {
  font-size: 300%;
  color: rgb(50, 160, 280);
  transition: all 0.3s ease;
}

.services .servecontent .card i:hover {
  color: white;
}

.services .servecontent .card .text {
  font-size: 130%;
  font-weight: 500;
  margin: 10% 0 0.8% 0;
}


/* skills section starts here */
.skills {
  font-family: sans-serif;
  width: 100%;
}

.skills .title::after {
  content: "what i know";
}


.skills .skills-content .left {
  width: 40%;
  display: inline-block;
  margin-right: 3%;
}

.skills .skills-content .right {
  float: right;
  display: inline-block;
  width: 55%;
  margin-left: 2%;
}

.skills .skills-content .left .text {
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 1%;

}

.skills .skills-content .left p {
  text-align: justify;
}

.skills-content .right p {
  font-size: 120%;
}

.skills .skills-content .left a {
  display: inline-block;
  background: rgb(50, 150, 220);
  color: #fff;
  font-size: 110%;
  font-weight: 500;
  padding: 2% 4%;
  margin-top: 5%;
  border-radius: 6px;
  border: 2px solid rgb(50, 150, 200);
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
  color: rgb(50, 150, 220);
  background: none;
}

.skills .skills-content .right .bars {
  margin-bottom: 3%;
}

.skills .skills-content .right .info {
  margin-bottom: 3%;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 110%;
}

.skills .skills-content .right .line {
  height: 0.9vh;
  width: 100%;
  border-radius: 6px;
  background: lightgrey;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(50, 150, 230);
}

.skills-content .right .html::before {
  width: 90%;
}

.skills-content .right .css::before {
  width: 85%;
}

.skills-content .right .js::before {
  width: 80%;
}

.skills-content .right p::first-letter {
  color: darkblue
}

.skills-content .right p {
  font-weight: 550;
}

/* CONTACT STYLING BEGINS HERE*/
.contact {
  font-family: sans-serif;
  background: white;
  display: inline-block;
}

.contact .title::after {
  content: "say hello";
}

.contact .contact-content {
  width: calc(50% - 5%);
}

.contact .contact-content .left .subt {
  font-size: 110%;
  font-weight: 500;
  margin-bottom: 2%;
}

.contact .contact-content .left .subtext {
  font-size: 110%;
  font-weight: 550;
  margin-bottom: 1%;
}


.contact .right .subt {
  font-size: 110%;
  font-weight: 550;
  margin-bottom: 2%;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 1% 0;

}

.contact .contact-content .left .rows {
  display: flex;
  height: 11vh;
  align-items: center;
}

.contact .contact-content .rows .info {
  margin-left: 10%;
}

.contact .contact-content .rows i {
  font-size: 135%;
  color: rgb(50, 150, 230);
  animation: myicon 3s linear infinite;
}

@keyframes myicon {
  100% {
    transform: rotateX(360deg);
  }
}

.contact .contact-content .info .head {
  font-weight: 550;
}

.contact .contact-content .info .subt {
  color: rgb(50, 150, 240);
}

.contact .contact-content .right form .fields {}

.contact .right form .fields .field {
  height: 8vh;
  width: 35vw;
  margin-bottom: 4vh;
}



.contact-content .left {
  width: 50%;
  display: inline-block;
}

.contact-content .right {
  position: absolute;
  margin-left: 20%;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.contact .right form .field input,
.contact .right form textarea {
  height: 10vh;
  width: 35vw;
  border: 1px solid rgb(50, 150, 220);
  border-radius: 6px;
  outline: none;
  padding: 0 4%;
  font-size: 105%;
  font-family: 'poppins', sans-serif;
  transition: all 0.3 ease;
}

.contact-content .right .btnarea button {
  background: rgb(50, 150, 230);
  font-size: 100%;
  border: 2px solid rgb(50, 170, 260);
  border-radius: 6px;
  padding: 1.6%;
  color: white;
}

.contact-content .right .btnarea button:hover {
  background: rgb(50, 200, 235);
  transition: all 0.3s ease;

}

body {
  overflow-x: hidden;
}

/* VISIT MY PROFILE STYLING*/
.contact .contact-content .left .rows .info a {
  color: rgb(50, 150, 230);
}

.contact .contact-content .left .rows .info a:hover {
  color: darkcyan;
}

footer {
  background: rgb(50, 140, 220);
  color: white;
  text-align: center;
  height: 4.9vh;
}

footer span {
  font-size: 110%;
  margin-top: 0.5%;
}
